SECRET_KEY=your-secret-key
DEBUG=True

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_PORT=localhost

TIME_ZONE=UTC

ADMIN_USER_LOGIN=admin
ADMIN_USER_PASS=123

JWT_ACCESS_TOKEN_LIFETIME=20
JWT_REFRESH_TOKEN_LIFETIME=5
JWT_SECRET_KEY=your-jwt-key
JWT_ALGORITHM=HS256